In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('practice_linear_regression_dataset.csv')
df.head()

,Age,Experience,EducationYears,HoursPerWeek,Certifications,Projects,Salary
0,56,7,14,46,1,1,70017
1,46,23,19,46,0,0,68168
2,32,10,15,53,4,6,67490
3,60,16,16,40,4,7,76764
4,25,7,13,49,0,6,65783

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             100 non-null    int64
 1   Experience      100 non-null    int64
 2   EducationYears  100 non-null    int64
 3   HoursPerWeek    100 non-null    int64
 4   Certifications  100 non-null    int64
 5   Projects        100 non-null    int64
 6   Salary          100 non-null    int64
dtypes: int64(7)
memory usage: 5.6 KB